footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 89vw;
}
.foot {
    display: flex;
    color: $m-txt-clr;
    font-family: $m-font;
    justify-content: flex-start;
    &__items {
        display: flex;
        gap: 29px;
    }
    &__lists {
        display: flex;
        list-style: none;
        a {
            color: $m-txt-clr;
            text-decoration: none;
            opacity: 1;
        }
        &:link {
            color: $m-txt-clr;
            opacity: 1;
        }
        &:visited {
            color: $m-txt-clr;
            opacity: 1;
        }
        &:hover {
            color: $m-txt-clr;
            text-decoration: underline;
            opacity: 0.5;
        }
        &:active {
            color: $m-txt-clr;
            opacity: 1;
        }
        &:nth-child(2){
            margin-right: 95px;
        }
    }
}