header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: white;
}

.logo {
    margin-left: 10vw;
    opacity: 1;
    &:hover {
        opacity: 0.6;
    }
}

.nav {
    margin-right: 10vw;
    color: $m-txt-clr;
    font-family: $m-font;
    &__items {
        display: flex;
        gap: 29px;
    }
    &__lists {
        list-style: none;
        color: $m-txt-clr;
        a {
            color: $m-txt-clr;
            text-decoration: none;
            font-size: 18;
        }
        &:link {
            color: $m-txt-clr;
            opacity: 1;
        }
        &:visited {
            color: $m-txt-clr;
            opacity: 1;
        }
        &:hover {
            color: $m-txt-clr;
            text-decoration: underline;
            opacity: 0.5;
        }
        &:active {
            color: $m-txt-clr;
            opacity: 1;
        }
    }
}