main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100%;
    margin: auto;
}
//
// Shootings stars container starts here Column reverse to make sure the Quote gets in right spot!
// Would love to hear a better solution since this aint responsive at all! FIX THIS BEFORE TURN IN!
//
.star {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 80vw;
    height: 100%;
    max-height: 300px;
    margin-top: 19.5vh;
    padding: 0;

&__left{
    width: 40vw;
}

&__headline {
    font-family: $m-font;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.423077px;
    margin: 0 0 32px 0;
    padding: 0;
}

&__bigtxt {
    font-family: $m-font;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin: 0;
    padding: 0;
}

&__smalltxt {
    font-style: italic;
    font-family: $m-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    opacity: 0.6;
    // Letterspacing in _ to make sure the _ _ _ above the quote is a filled line ___ .
    &__line {
        letter-spacing: -1px;
        font-weight: 700;
        opacity: 0.6;
    }
}
}
.coloredtxt {
    color: #4A4FF2;
}
// 
//  Gallery Grid.. revamped, gap i % due to not being even gap in Figma letting the computer do its magic!
//

.gallery {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(31, 0.1fr);
        gap: 1%;
        margin-top: 9.5vh;
// Trial and error until broken brain, will try and figure out what does what if time exist this evening.
    &__item {
        min-height: 100%;
        max-width: 100%;
        width: 100vw;
        height: 100%;
        object-fit: cover;

        &:nth-child(1) {
            grid-area: 1 / 1 / 8 / 4;
        }        
        &:nth-child(2) {
            grid-area: 1 / 4 / 7 / 7;
        }        
        &:nth-child(3) {
            grid-area: 1 / 7 / 11 / -1;
        }        
        &:nth-child(4) {
            grid-area: 8 / 1 / 16 / 4; 
        }        
        &:nth-child(5) {
            grid-area: 7 / 4 / 14 / 7;
        }        
        &:nth-child(6) {
            grid-area: 11 / 7 / 19 / -1;
        }        
        &:nth-child(7) {
            grid-area: 16 / 1 / 23 / 4;
        }        
        &:nth-child(8) {
            grid-area: 14 / 4 / 22 / 7;
        }        
        &:nth-child(9) {
            grid-area: 19 / 7 / 27 / -1;
        }        
        &:nth-child(10) {
            grid-area: 23 / 1 / 32 / 4;
        }        
        &:nth-child(11) {
            grid-area: 22 / 4 / 32 / 7;
        }        
        &:nth-child(12) {
            grid-area: 27 / 7 / 32 / -1;
        }
    }
}
//
// Styles for Services Section 
//
.services {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-top: 8vh;
    margin-bottom: 8vh;
    font-family: $m-font;
    color: $m-txt-clr;

    &__txt {

        &:nth-child(1) {
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            width: 635px;
        }
        &:nth-child(2) {
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            opacity: 0.6;
            margin-left: 8vw;
        }
        &:nth-child(3) {
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            opacity: 0.6;

        }
    }
}

//
// Styles of Award Section - Rough grid layout to place things rightly.. Might have worked smoother with table?! But not responsive?
//
.opa--txt {
    opacity: 0.6;
}
.awards {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 100vw;
    width: 100%;
    font-family: $m-font;
    color: $m-txt-clr;
    margin-bottom: 9vh;
    
    &__table__one {
        display: grid;
        grid-template-columns:repeat(12,1fr);
        grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr;
        border: #D8D8D8;
        border-style: solid;
        border-width: 1px;
        border-left: 0; 
        border-right: 0; 
        border-bottom: 0;

        &__items {
            margin-bottom: 10px;
            
            &:nth-child(1) {
                grid-area: 2 / 1 / 3 / 3;
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 28px;
            }
            &:nth-child(2) {
                grid-area: 2 / 6 / 3 / 8;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
            }
            &:nth-child(3) {
                grid-area: 2 / 9 / 3 / 11;
                text-align: start; 
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
            }
            &:nth-child(4) {
                grid-area: 2 / 12 / 3 / 13;
                text-align: end;
            }
            &:nth-child(5) {
                grid-area: 4 / 6 / 5 / 8;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
            }
            &:nth-child(6) {
                grid-area: 4 / 9 / 5 / 11;
                text-align: start; 
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
            }
            &:nth-child(7) {
                grid-area: 4 / 12 / 5 / 13;
                text-align: end;
            }
        }
    }

    &__table__two {
        display: grid;
        grid-template-columns:repeat(12,1fr);
        grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr;
        border: #D8D8D8;
        border-style: solid;
        border-width: 1px;
        border-left: 0; border-right: 0;

        &__items {
            margin-bottom: 10px;
            &:nth-child(1) {
                grid-area: 2 / 1 / 3 / 3;
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 28px;
            }
            &:nth-child(2) {
                grid-area: 2 / 6 / 3 / 8;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
            }
            &:nth-child(3) {
                grid-area: 2 / 9 / 3 / 11;
                text-align: start; 
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
            }
            &:nth-child(4) {
                grid-area: 2 / 12 / 3 / 13;
                text-align: end;
            }
            &:nth-child(5) {
                grid-area: 4 / 6 / 5 / 8;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
            }
            &:nth-child(6) {
                grid-area: 4 / 9 / 5 / 11;
                text-align: start; 
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
            }
            &:nth-child(7) {
                grid-area: 4 / 12 / 5 / 13;
                text-align: end;
            }
        }    
    }   
}
