//
// The scss main section of the projects.html
//

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: $m-font;
    color: $m-txt-clr;
}

.fresh {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    margin-top: 6vh;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: 30% 1fr;
    gap: 10px;
    &__border {
        p {
            border-bottom: 1px solid rgba(151, 151, 151, .3);
            padding: 10px;
        }
    }
    &__border__horder {
        p {
            padding: 10px;
        }
    }
    &__items {
        box-sizing: border-box;
        margin: 0;
        padding-bottom: 10px;
        &:nth-child(1) {
            width: 395px;
            height: 130px;
            grid-area: 1 / 1 / 3 / 2;
        }
        &:nth-child(2) {
            width: 635px;
            grid-area: 2 / 1 / 3 / 2;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            opacity: 0.8;
        }
        &:nth-child(3) {
            grid-area: 1 / 3 / 3 / 5;
            p {
            opacity: 0.6;
            }
        }
        &:nth-child(4) {
            grid-area: 1 / 4 / 3 / 5;
            text-align: start;

        }
    }
}
// Add more sass variables for the text formating !?!? Time time time..... Wasted saved?!

.girl__image {
    display: flex;
    margin-top: 4vh;
    width: 100%;
    max-width: 80vw;
    img {
        max-width: 100%;
        object-fit: fill;
        flex-shrink: 0;
    }
}
.styled--p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.8;
    margin-top: 4vh;
    margin-bottom: 5vh;
}
.three__images {
    display: flex;
    margin-bottom: 9vh;
    width: 100%;
    max-width: 80vw;
    gap: 20px;
    img {
        max-width: 100%;
        width: 26vw;
        object-fit: fill;
        flex-shrink: 0;
    }
}